pkgbase = termite
	pkgdesc = A simple VTE-based terminal
	pkgver = 16.13
	pkgrel = 1
	url = https://github.com/barbuk/termite
	arch = x86_64
	license = LGPL-2.1-only
	makedepends = gperf
	makedepends = meson>=1.0
	makedepends = ninja
	makedepends = glib2-devel
	depends = gtk3
	depends = pcre2
	depends = gnutls
	depends = vte-common
	backup = etc/xdg/termite/config
	source = termite-16.13.tar.zst::https://github.com/barbuk/termite/releases/download/v16.13/termite-v16.13.tar.zst
	validpgpkeys = 9F59A49568EE372AF17E5452B6D01F84A7519939
	sha256sums = d59cb65cb2fdbb1025eb8d56aa4f18a9cb754b397e67f9f9a1d2259d090e5b19

pkgname = termite
